.dashboard-card {
  background-color: var(--color-2);
  border: var(--border);
  width: 90vw;
  margin: 4px;
  padding: 8px;
}

.card-contents {
  display: flex;
  flex-direction: row;
}

.card-contents  > img {
  width: 40%;
}

.card-description {
  display: flex;
  flex-direction: column;
}
