:root {
  --color-1: #686767;
  --color-1-light: #494949;
  --color-2: #bcbbbb; 
  --border-color: #686767;
  --nav-btn: #bcbbbb;
  --nav-color: #f1f1f1;
  --border: 2px solid;
  --border-radius: 5px;
  --font-family:'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}